In [5]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

## Series

### Similar to array, with index

In [7]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

## Get the value from series

In [9]:
obj.values

array([ 3,  6,  9, 12])

## Get the index from series

In [10]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [36]:
ww2_cas = Series ([100,200,300,400,500], index = ['A','B','C','D','E'])
#                  data                   index

In [13]:
ww2_cas

A    100
B    200
C    300
D    400
E    500
dtype: int64

In [14]:
ww2_cas['C']

300

In [15]:
# check which index larger than 300
ww2_cas[ww2_cas > 300]

D    400
E    500
dtype: int64

In [16]:
'B' in ww2_cas

True

## Convert a series to a dictionary

In [18]:
ww2_dict = ww2_cas.to_dict()

In [25]:
ww2_dict

{'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': 500}

## Convert a dictionary to a series

In [20]:
ww2_series = Series(ww2_dict)

In [21]:
ww2_series

A    100
B    200
C    300
D    400
E    500
dtype: int64

## Using dictionary and index to create series

In [29]:
countries = ['A',"B","C","E","Q"]

In [30]:
obj2 = Series(ww2_dict, index=countries )

In [34]:
obj2
#because we don't have "Q" in dictionary, therefore the value would be NaN

A    100.0
B    200.0
C    300.0
E    500.0
Q      NaN
dtype: float64

## Check whether is a null value

In [38]:
pd.isnull(obj2)

A    False
B    False
C    False
E    False
Q     True
dtype: bool

In [39]:
pd.notnull(obj2)

A     True
B     True
C     True
E     True
Q    False
dtype: bool

In [40]:
ww2_series

A    100
B    200
C    300
D    400
E    500
dtype: int64

In [41]:
obj2

A    100.0
B    200.0
C    300.0
E    500.0
Q      NaN
dtype: float64

In [43]:
ww2_series+obj2

A     200.0
B     400.0
C     600.0
D       NaN
E    1000.0
Q       NaN
dtype: float64

## Set name to series

In [44]:
obj2.name = "lalala "

In [45]:
obj2

A    100.0
B    200.0
C    300.0
E    500.0
Q      NaN
Name: lalala , dtype: float64

## Set name to index

In [46]:
obj2.index.name = "Country name"

In [47]:
obj2

Country name
A    100.0
B    200.0
C    300.0
E    500.0
Q      NaN
Name: lalala , dtype: float64

In [50]:
obj2.values

array([ 100.,  200.,  300.,  500.,   nan])