In [2]:
import numpy as np

import pandas as pd 

from pandas import Series, DataFrame

In [3]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

## Read data from clip board

In [8]:
nfl_frame = pd.read_clipboard()

In [9]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East

## Get columns

In [10]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.', u'First', u'NFL',
       u'Season', u'Total', u'Games', u'Division'],
      dtype='object')

In [11]:
nfl_frame['First']

0     0.573
1    37.000
2     0.565
3     0.563
4     9.000
Name: First, dtype: float64

In [12]:
DataFrame(nfl_frame, columns=['Team', 'First','Total','Dont have this column'])

      Team   First  Total  Dont have this column
0   Dallas   0.573    NFC                    NaN
1    Green  37.000  1,320                    NaN
2  Chicago   0.565    NFC                    NaN
3    Miami   0.563    AFC                    NaN
4      New   9.000    868                    NaN

## Print first 5 rows
#### Or input the numbers of rows in ()

In [13]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East

## Get row

In [14]:
nfl_frame.ix[3]
# get the row with index number

Rank               4
Team           Miami
Won         Dolphins
Lost             439
Tied             341
Pct.               4
First          0.563
NFL             1966
Season           784
Total            AFC
Games           East
Division         NaN
Name: 3, dtype: object

In [15]:
nfl_frame['Team'] = "Miami"

In [16]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Miami,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Miami,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Miami,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,Miami,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East

## Change column's info

In [18]:
nfl_frame['NFL'] = np.arange(5)

In [19]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Miami,Cowboys,493,367,6,0.573,0,866,NFC,East,NaN
1,2,Miami,Bay,Packers,730,553,37.000,1,1921,"1,320",NFC,North
2,3,Miami,Bears,744,568,42,0.565,2,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,3,784,AFC,East,NaN
4,5,Miami,England,Patriots,476,383,9.000,4,1960,868,AFC,East

## Add series to dataframe

In [21]:
won = Series([1000,1000], index=[0,3])

In [22]:
nfl_frame['Won']=won

In [23]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Miami,1000.0,493,367,6,0.573,0,866,NFC,East,NaN
1,2,Miami,NaN,Packers,730,553,37.000,1,1921,"1,320",NFC,North
2,3,Miami,NaN,744,568,42,0.565,2,"1,354",NFC,North,NaN
3,4,Miami,1000.0,439,341,4,0.563,3,784,AFC,East,NaN
4,5,Miami,NaN,Patriots,476,383,9.000,4,1960,868,AFC,East

## Delete column

In [24]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Miami,1000.0,493,367,6,0.573,0,866,NFC,East,NaN
1,2,Miami,NaN,Packers,730,553,37.000,1,1921,"1,320",NFC,North
2,3,Miami,NaN,744,568,42,0.565,2,"1,354",NFC,North,NaN
3,4,Miami,1000.0,439,341,4,0.563,3,784,AFC,East,NaN
4,5,Miami,NaN,Patriots,476,383,9.000,4,1960,868,AFC,East

In [25]:
del nfl_frame['Won']

In [26]:
nfl_frame

,Rank,Team,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Miami,493,367,6,0.573,0,866,NFC,East,NaN
1,2,Miami,Packers,730,553,37.000,1,1921,"1,320",NFC,North
2,3,Miami,744,568,42,0.565,2,"1,354",NFC,North,NaN
3,4,Miami,439,341,4,0.563,3,784,AFC,East,NaN
4,5,Miami,Patriots,476,383,9.000,4,1960,868,AFC,East

## Construct dataframe by dictionary

In [27]:
data = {'City':['SF','LA','NYC'], 'Population':[100,200,300]}

In [28]:
city_frame = DataFrame(data)

In [29]:
city_frame

  City  Population
0   SF         100
1   LA         200
2  NYC         300