In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4], index = ["A","B","C","D"])

In [4]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

## Add index in series

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [7]:
ser2
# because ser1 doesn't have value for E & F

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

## Fill value to new index

In [8]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [9]:
ser3 = Series(['USA','Taiwan','Canada'], index = [0,5,10])

In [10]:
ser3

0        USA
5     Taiwan
10    Canada
dtype: object

In [11]:
ranger = range(15)

In [12]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [13]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Taiwan
6     Taiwan
7     Taiwan
8     Taiwan
9     Taiwan
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [15]:
dframe = DataFrame(randn(25).reshape((5,5)), index=["A","B","D","E","F"], columns=['col1','col2','col3','col4', 'col5'])
dframe

       col1      col2      col3      col4      col5
A -0.900592 -0.210929 -0.557771 -0.797488  0.679394
B -0.417482  0.050835 -0.569543  0.381528  1.194069
D  0.447628  0.989090  0.545350 -1.326711  0.861800
E -0.666150  1.120624 -0.350104  0.996245 -0.086082
F  1.504845 -0.150344 -0.152545 -0.527800  1.236244

In [16]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -0.900592 -0.210929 -0.557771 -0.797488  0.679394
B -0.417482  0.050835 -0.569543  0.381528  1.194069
C       NaN       NaN       NaN       NaN       NaN
D  0.447628  0.989090  0.545350 -1.326711  0.861800
E -0.666150  1.120624 -0.350104  0.996245 -0.086082
F  1.504845 -0.150344 -0.152545 -0.527800  1.236244

In [17]:
new_columns = ['col1','col2','col3','col5','col6']

## Add new column

In [18]:
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col5  col6
A -0.900592 -0.210929 -0.557771  0.679394   NaN
B -0.417482  0.050835 -0.569543  1.194069   NaN
C       NaN       NaN       NaN       NaN   NaN
D  0.447628  0.989090  0.545350  0.861800   NaN
E -0.666150  1.120624 -0.350104 -0.086082   NaN
F  1.504845 -0.150344 -0.152545  1.236244   NaN

In [19]:
dframe

       col1      col2      col3      col4      col5
A -0.900592 -0.210929 -0.557771 -0.797488  0.679394
B -0.417482  0.050835 -0.569543  0.381528  1.194069
D  0.447628  0.989090  0.545350 -1.326711  0.861800
E -0.666150  1.120624 -0.350104  0.996245 -0.086082
F  1.504845 -0.150344 -0.152545 -0.527800  1.236244

In [20]:
dframe.ix[['A','B','C','D','E','F'], new_columns]

       col1      col2      col3      col5  col6
A -0.900592 -0.210929 -0.557771  0.679394   NaN
B -0.417482  0.050835 -0.569543  1.194069   NaN
C       NaN       NaN       NaN       NaN   NaN
D  0.447628  0.989090  0.545350  0.861800   NaN
E -0.666150  1.120624 -0.350104 -0.086082   NaN
F  1.504845 -0.150344 -0.152545  1.236244   NaN