In [1]:
import pandas as pd

In [2]:
#pip install xlrd
#pip install openpyxl

In [3]:
xlsfile = pd.ExcelFile("ex.xlsx")

In [7]:
dframe = xlsfile.parse("Sheet 1")

In [8]:
dframe

,Table 1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,This is test,NaN,NaN,NaN,NaN,NaN,NaN
2,23,6678.0,456.0,NaN,NaN,NaN,NaN
3,234,678.0,456.0,NaN,NaN,NaN,NaN
4,234,7.0,345.0,NaN,NaN,NaN,NaN
5,34,56.0,234.0,NaN,NaN,NaN,NaN
6,5,456.0,4365.0,NaN,NaN,NaN,NaN